body {
    padding: 30px;
    font-family: "Roboto", serif;
    color: #585858;
    background-color: #eee;
    position: relative;
}

header {
    height: 100px;
}

input#search-bar {
    border: solid 1px #dbdbdb;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 30px;
    left: 30px;
    width: auto;
    padding: 5px 10px;
}

header h1 {
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card {
    border: solid 2px #dbdbdb;
    padding: 30px 10px;
    border-radius: 5px;
    background-color: #fffefe;
    text-align: center;
    gap: 10px;
}

.avatar {
   border-radius: 50%;
   width: 95px;
   height: 95px;
}


.name, .email, .address {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 13px;
}

.email, .address {
    color: #a0a0a0;
}

.name {
    font-size: 18px;
    padding-bottom: 3px;
}

.text-container {
    margin-top: 10px;
}

/* Modal window */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(100, 100, 100, 0.4);
}
.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background-color: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}
.modal-close, .modal-prev, .modal-next {
    position: absolute;
    cursor: pointer;
    opacity: 0.3;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.modal-close{
    right: 10px;
    top: 10px; 
}
.modal-prev{
    left: 10px;
    bottom: 10px; 
}
.modal-next{
    right: 10px;
    bottom: 10px; 
}
.modal-close:hover, .modal-next:hover, .modal-prev:hover {
    opacity: 1;
}

.hidden {
    display: none;
}

.modal .avatar {
    width: 140px;
    height: 140px;
}

.modal .text-container p:nth-child(3){
    padding-top: 7px;
    padding-bottom: 20px;
}

.modal .name {
    padding-top: 15px;
} 

.modal .address{
    padding-top: 7px;
    padding-bottom: 7px;
} 
.modal .text-container p:nth-child(5) {
    padding-top: 20px;
}

hr {
    background-color: rgb(222, 222, 222); 
    border: none;          
    height: 1px;
  }

/* Tablet */

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
    .card {
        display: flex;
        text-align: left;
    }

    header {
        height: 100px;
        display: flex;
        justify-content: space-between;
    }

    input#search-bar {
        width: 200px;
        height: 10px;
        align-self: center;
        position: initial;
        padding: 20px;
    }
    .avatar {
        vertical-align: middle;
     }
     .text-container {
        margin-top: auto;
        margin-bottom: auto;
    }
     
}

/* Desktop */

@media (min-width: 1024px) {
    body {
        max-width: 1200px;
        margin: auto;
    }
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

